---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [20]:
df.shape

(500,)

In [4]:
a1_1 =df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{2})\b')
a1_2 =df.str.extractall(r'(\d{1,2})[/-](\d{1,2})[/-](\d{4})\b')
a1 = pd.concat([a1_1,a1_2])
a1.reset_index(inplace=True)

In [9]:
a1_index = a1['level_0']

In [13]:
a2_1= df.str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]* )((?:\d{1,2}[?:, -]*)\d{4})')
a2_2 = df.str.extractall(r'((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]* )((?:\d{1,2}[?:, -]*)\d{2})')
a2=pd.concat([a2_1,a2_2])
a2.reset_index(inplace=True)

In [19]:
a2

     level_0  match           0         1
0        194      0      April   11, 1990
1        195      0        May   30, 2001
2        196      0        Feb   18, 1994
3        197      0   February   18, 1981
4        198      0   October.   11, 2013
5        199      0        Jan    24 1986
6        200      0       July   26, 1978
7        201      0   December   23, 1999
8        202      0        May   15, 1989
9        203      0  September   06, 1995
10       204      0       Mar.   10, 1976
11       205      0        Jan   27, 1983
12       206      0    October    23 1990
13       207      0     August    12 2004
14       208      0  September   01, 2012
15       209      0       July   25, 1983
16       210      0     August   11, 1989
17       211      0      April   17, 1992
18       212      0       July   24, 1999
19       213      0       July   11, 1997
20       214      0       Sep.   10, 1974
21       215      0     August   14, 1981
22       216      0        Nov   11, 1988
23       217      0       June   13, 2011
24       218      0        May   14, 1989
25       219      0        Dec    14 1975
26       220      0       June   25, 2012
27       221      0        Oct   18, 1980
28       222      0        May   15, 1998
29       223      0    October    14 1974
..       ...    ...         ...       ...
209      305      0        Feb       2000
210      307      0       July       2006
211      308      0        Feb       1994
212      309      0      April       1977
213      310      0        Oct       1992
214      312      0   February       1989
215      313      0  Decemeber       1978
216      314      0    January       2007
217      315      0        Jun       1976
218      316      0        May       2011
219      318      0        Jan       1978
220      319      0       July       1975
221      320      0   November       2012
222      322      0    October       1991
223      323      0      March       1973
224      324      0    October       1996
225      325      0        Jun       2007
226      326      0    October       1995
227      327      0      April       1999
228      330      0      April       1988
229      331      0   December       1993
230      332      0       June       1974
231      333      0   November       1997
232      334      0       July       1986
233      335      0   February       1973
234      336      0      March       1978
235      337      0        Dec       2007
236      340      0        May       1980
237      341      0        Nov       2007
238      342      0      March       1976

[239 rows x 4 columns]

In [21]:
def date_sorter():
    
    # Your code here
    regex1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
    regex2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
    regex3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    regex4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
    regex5 = '(\d{1,2}[/-][1|2]\d{3})'
    regex6 = '([1|2]\d{3})'
    full_regex = '(%s|%s|%s|%s|%s|%s)' %(regex1, regex2, regex3, regex4, regex5, regex6)
    parsed_date = df.str.extract(full_regex)
    parsed_date = parsed_date.iloc[:,0].str.replace('Janaury', 'January').str.replace('Decemeber', 'December')
    parsed_date = pd.Series(pd.to_datetime(parsed_date))
    parsed_date = parsed_date.sort_values(ascending=True).index
    
    return pd.Series(parsed_date.values)

In [37]:
df.str.extract(full_regex).iloc[:,0]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

0        03/25/93
1         6/18/85
2          7/8/71
3         9/27/75
4          2/6/96
5         7/06/79
6         5/18/78
7        10/24/89
8          3/7/86
9         4/10/71
10        5/11/85
11        4/09/75
12        8/01/98
13        1/26/72
14      5/24/1990
15      1/25/2011
16        4/12/82
17     10/13/1976
18        4/24/98
19        5/21/77
20        7/21/98
21       10/21/79
22        3/03/90
23        2/11/76
24     07/25/1984
25        4-13-82
26        9/22/89
27        9/02/76
28        9/12/71
29       10/24/86
          ...
470          1983
471          1999
472          2010
473          1975
474          1972
475          2015
476          1989
477          1994
478          1993
479          1996
480          2013
481          1974
482          1990
483          1995
484          2004
485          1987
486          1973
487          1992
488          1977
489          1985
490          2007
491          2009
492          1986
493          1978
494          2002
495          1979
496          2006
497          2008
498          2005
499          1980
Name: 0, Length: 500, dtype: object

In [23]:
date_sorter()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  # This is added back by InteractiveShellApp.init_path()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
Length: 500, dtype: int64